[submodule "cosmos/proto/dependencies/cosmos-sdk"]
	path = cosmos/proto/dependencies/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
[submodule "cosmos/proto/dependencies/cosmos-proto"]
	path = cosmos/proto/dependencies/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto
[submodule "cosmwasm/proto/dependencies/wasmd"]
	path = cosmwasm/proto/dependencies/wasmd
	url = https://github.com/cosmwasm/wasmd
[submodule "terra/proto/dependencies/alliance"]
	path = terra/proto/dependencies/alliance
	url = https://github.com/terra-money/alliance
[submodule "terra-classic/proto/dependencies/classic-core"]
	path = terra-classic/proto/dependencies/classic-core
	url = https://github.com/terra-money/classic-core
[submodule "sei/proto/dependencies/sei-chain"]
	path = sei/proto/dependencies/sei-chain
	url = https://github.com/sei-protocol/sei-chain
[submodule "terra/proto/dependencies/core"]
	path = terra/proto/dependencies/core
	url = https://github.com/terra-money/core
